#modal_form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    margin-bottom: 1rem;
  }

  label {
    display: block;
  }

  margin: auto;

  button {
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 16px;
      margin: 1em 0;
      
      &:hover {
          cursor: pointer;
      }
  }
}

.btnDisabled {
  background-color: rgb(255, 0, 0); /* Green */
}

.btnEnabled {
  background-color: #4CAF50; /* Green */
}

#booking-modal {
  display: flex;
  flex-direction: column;
  width: 20em;
  height: 28em;
  margin: auto;

  #btnClose {
      background-color: red; /* Green */
      border: none;
      color: white;
      padding: 2px 2px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 16px;
      width: 4em;
      align-self: end;
      
      &:hover {
          cursor: pointer;
      }
  }

  /* &:focus {
    outline: none;
  } */
}

.formSpacer {
  margin: 0 0 1em 0;
}