.booking_form {
  div {
    margin-bottom: 1rem;
  }

  label {
    display: block;
  }

  button {
    // background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    &:hover {
      cursor: pointer;
    }
  }
}


.btnDisabled {
  background-color: rgb(255, 0, 0); /* Green */
}

.btnEnabled {
  background-color: #4CAF50; /* Green */
}


#btnAddResource {
  background-color: rgb(179, 179, 0); /* Green */
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  top: 20em;
  left: -0.7em;

}

.left-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  input {
    margin: 0.2em 1em 0 0;
  }
}

.resource-list {
  width: 30%;
  margin: 0 auto;
}

.resources-list {
  list-style: none;
  padding: 0;
  margin: 4em 0 0 0;
}

.resource-list li {
  margin-bottom: 0.5rem;
}
